/* ------------------------------------------------------------------ *\
   FONT / TEXT
\* ------------------------------------------------------------------ */
$fonts: (
  normal: #{'Roboto', sans-serif},
  mono: #{'Roboto Mono', monospace},
);

$font-weights: (
  light:  300,
  normal: 400,
  medium: 500,
  bold:   600,
);

$font-sizes: (
  12: 0.750rem,
  14: 0.875rem,
  16: 1.000rem, /* Default */
  18: 1.130rem,
  20: 1.250rem,
  24: 1.500rem,
  30: 1.880rem,
  36: 2.250rem,
  48: 3.000rem,
  60: 3.750rem,
  72: 4.500rem,
);



/* ------------------------------------------------------------------ *\
   LAYOUT
\* ------------------------------------------------------------------ */
$spaces: (
  4:    0.25rem,
  8:    0.50rem,
  12:   0.75rem,
  16:   1.00rem,
  24:   1.50rem,
  32:   2.00rem,
  48:   3.00rem,
  96:   6.00rem,
  128:  8.00rem,
  192: 12.00rem,
  256: 16.00rem,
  384: 24.00rem,
  512: 32.00rem,
  640: 40.00rem,
  768: 48.00rem,
);

$shadows: (
  1: #{0 1px 3px hsla(0,0%,0%,.12), 0 1px 2px hsla(0,0%,0%,.24)},
  2: #{0 3px 6px hsla(0,0%,0%,.15), 0 2px 4px hsla(0,0%,0%,.12)},
  3: #{0 10px 20px hsla(0,0%,0%,.15), 0 3px 6px hsla(0,0%,0%,.10)},
  4: #{0 15px 25px hsla(0,0%,0%,.15), 0 5px 10px hsla(0,0%,0%,.05)},
  5: #{0 20px 40px hsla(0,0%,0%,.2)},
);

$border-radius: (
  normal: 4px,
  medium: 6px,
  large: 8px,
);



/* ------------------------------------------------------------------ *\
   ANIMATIONS
\* ------------------------------------------------------------------ */
$transition-durations: (
  short:  0.1s,
  normal: 0.2s,
  medium: 0.3s,
  long:   0.6s,
);



/* ------------------------------------------------------------------ *\
   COLORS
\* ------------------------------------------------------------------ */

$colors: (
  primary: (
    100: hsl(205,79,92),
    200: hsl(2005,87,85),
    300: hsl(205,74,65),
    400: hsl(205,65,55),
    500: hsl(205,76,45),
    600: hsl(205,76,39),
    700: hsl(205,82,33),
    800: hsl(205,87,29),
    900: hsl(205,100,11),
  ),

  secondary: (
    100: hsl(49,100,96),
    200: hsl(48,100,88),
    300: hsl(48,94,68),
    400: hsl(44,92,63),
    500: hsl(42,87,55),
    600: hsl(36,77,49),
    700: hsl(29,80,44),
    800: hsl(22,82,39),
    900: hsl(15,86,30),
  ),
  
  background: (
    500: hsl(100,100,100),
  ),

  contrast: (
    500: hsl(100,100,100),
  ),

  neutral: (
    100: hsl(210,36,96),
    200: hsl(212,33,89),
    300: hsl(211,27,70),
    400: hsl(209,23,60),
    500: hsl(210,22,49),
    600: hsl(209,28,39),
    700: hsl(209,34,30),
    800: hsl(211,39,23),
    900: hsl(209,61,16),
  ),

  accent_cyon: (
    100: hsl(186,100,94),
    200: hsl(185,94,87),
    300: hsl(182,65,59),
    400: hsl(185,57,50),
    500: hsl(185,62,45),
    600: hsl(184,77,34),
    700: hsl(185,81,29),
    800: hsl(185,84,25),
    900: hsl(184,91,17),
  ),

  accent_red: (
    100: hsl(360,100,97),
    200: hsl(360,82,89),
    300: hsl(360,71,66),
    400: hsl(360,64,55),
    500: hsl(360,67,44),
    600: hsl(360,72,38),
    700: hsl(360,79,32),
    800: hsl(360,85,25),
    900: hsl(360,92,20),
  )
);
